# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
env/

# Django
media/
staticfiles/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*

# Environment
.env

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db